# Dependências
node_modules/
backend/node_modules/
frontend/node_modules/

# Builds
backend/dist
frontend/dist
build/

# Logs e Backups
*.log
*.gz
sgl_backup.gz

# Env
.env
.env.*
backend/test-ajax.js
backend/test-puppeteer.js
sync_all.js

# Scripts e arquivos temporários
extract.js
force_sync_now.js
test_pncp.js
user_requests.txt
eslint_report.txt
